
/* COLORS */
$clr-white: rgba(255, 255, 255, 1);
$clr-red: rgba(255, 121, 121, 1);
$clr-green: rgba(56, 204, 139, 1);
$clr-purple: rgba(94, 84, 164, 1);
$clr-dark: rgba(61, 59, 72, 1);


/* TYPE */
$ff-regular: 'Poppins', sans-serif;

$fs-regular: 1rem;
$lh-regular: 1.63;

$fs-header: 1.75rem;
$lh-header: 1.29;
$fs-header-desktop: 3.125rem;
$lh-header-desktop: 1.1;

$fs-buttons: 0.938rem;
$lh-buttons: 1.73;

$fs-input: 0.875rem;
$lh-input: 1.86;

$fs-accent: 0.688rem;
$lh-accent: 1.91;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 600;
$fw-heavy: 700;

